In [1]:
#INTRODUCTION TO MACHINE LEARNING
#Machine learning is the discipline of AI that provides machine the ability to automatically 
#learn from data and statics and make predictions
#DATASETS
#DATA TYPES

In [3]:
import numpy as np
speed  = [99,86, 87, 88, 111, 86, 103, 87, 94, 78, 77, 85, 86 ]
x = np.mean(speed)
print(x)

89.76923076923077

In [21]:
import numpy as np
from scipy import stats
speed  = [99,86, 87, 88, 111, 86, 103, 87, 94, 78, 77, 85, 86 ]
y = stats.mode(speed)
x = np.std(speed)
z = np.var(speed)
print("The standard deviation is: " +str(x))
print("The mode is: " +str(y))
print("The variance is: " +str(z))

The standard deviation is: 9.258292301032677
The mode is: ModeResult(mode=86, count=3)
The variance is: 85.71597633136093

In [22]:
#DATA DISTRIBUTION
#Normal distribution
#Uniform distribution
#Skewed distribution
#Bimodal distribution
#Understanding data distributiion helps identify relavant features for training models
#Data distribution forms the foundation of effective machine learning
#Understanding and handling various distribution is critical for building accurate models
#Feature selection
#Model selection
#Data processing
#Evaluation and validation

In [36]:
#To import the dataset file
import pandas as pd
df=pd.read_csv("weatherData.csv")
df

,Year,Month,Day,Hour,SunlightMin,HourlySkyWeather,HourlyVisibility,HourlyWindDirection,HourlyWindSpeed,SunriseHour,SunriseMin,SunsetHour,SunsetMin
0,2017,9,16,0,747,CLR,7.0,0,0.0,5,37,18,4
1,2017,9,16,1,747,CLR,6.0,0,0.0,5,37,18,4
2,2017,9,16,2,747,CLR,4.0,40,3.0,5,37,18,4
3,2017,9,16,3,747,CLR,3.0,50,3.0,5,37,18,4
4,2017,9,16,4,747,CLR,3.0,0,0.0,5,37,18,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,2018,9,15,19,747,CLR,10.0,False,NaN,5,37,18,4
8754,2018,9,15,20,747,CLR,10.0,False,NaN,5,37,18,4
8755,2018,9,15,21,747,CLR,10.0,False,NaN,5,37,18,4
8756,2018,9,15,22,747,CLR,10.0,False,NaN,5,37,18,4
8757,2018,9,15,23,747,CLR,NaN,False,NaN,5,37,18,4

In [37]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'SunlightMin', 'HourlySkyWeather',
       'HourlyVisibility', 'HourlyWindDirection', 'HourlyWindSpeed',
       'SunriseHour', 'SunriseMin', 'SunsetHour', 'SunsetMin'],
      dtype='object')